@import "../abstracts/variables";
.root {
    width: 100vw;
    height: 100vh;
}

.heading_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-items: center;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: white;
    border-radius: 15px;
    margin-top: 60px;
}